.main-page-container {
    width: 90vw;
    height: 93vh;
    border-left: 1px solid darkcyan;
    border-right: 1px solid darkcyan;
    margin: 0;
    padding: 0;

    .newly-added-files-table,
    .expenses-table,
    .queued-files-table {
        min-width: 100%;
    }
}
