.main-page-container {
    width: 90vw;
    height: 93vh;
    border-left: 1px solid darkcyan;
    border-right: 1px solid darkcyan;
    margin: 0;
    padding: 0;

    .expenses-table {
        width: 100%;
        height: 100%;
    }
}